*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--grossa);
    text-transform: uppercase;
}
:root{
    --grossa: "Press Start 2P", system-ui;
    --media: "Jersey 15", sans-serif;


    --escuro:#3a0508;
    --medio:#350204bd;
    --claro:#f0e1c6;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(tela-2/mountain.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-image: url(tela-8/papel.png);
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 6% 20%;
}
.box p{
    font-family: var(--media);
    font-size: 1.8em;
    text-align: center;
}

.btt{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
a{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .65em;
    text-decoration: none;
    background-color: transparent;
    box-shadow: inset -2px -2px 10px rgba(0, 0, 0, 0.767);
    border: 3px solid rgba(0, 0, 0, 0.63);
    border-bottom: 3px solid rgba(0, 0, 0, 0.76);
    border-right: 3px solid rgba(0, 0, 0, 0.61);
    border-top: 3px solid #fdce7e;
    background-color: var(--escuro);
    color: #fdce7e;
}
a:hover{
    text-shadow: 0px 0px 3px white;
    box-shadow: 0px 0px 3px white;
}
